*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

html{
  width: 90vw;
  height: 90vh;
}
body{
  background-color: #ff8dfd;
  color: #59009D;
}

#mobile{
  display: none;
}
footer {
  background-color: #ffb7fe;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

footer ul li {
  display: block;
}

footer ul li a{
  padding: 5px;
  color: #59009D;
}

#faq-big{
  padding-left: 15px;
}

#about-big{
  padding-right: 55px;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

nav ul li{
 display: block;
}


nav{
  background-color: #ffb7fe;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
}
b{
  font-size: 2rem;
}

#home img{
  height: 50px;
  width: 50px;
}

#cart{
  margin: 0 20px 0 0 ;
}

#home{
  margin: 0 0 0 20px;
}




.content {
  margin-top: 130px;
  margin-left: 50px; 
 margin-bottom: 150px;
 height: fit-content;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item{
  flex: 1 1 20%;
  margin-bottom: 30px;
}

.name, .colour{
  font-size: 3vh;
}

.price{
  font-size: 3.5vh;
  font-weight: 700;
}

.item img{
  width: 12vw;
  height: 12vw;
}

.cart-item{
  display: grid;
  grid-template-areas: 
    'img description'; 
  gap: 0;
  grid-template-columns: auto 1fr;
  grid-auto-rows: min-content;
  margin-bottom: 30px;
}

.cart-item img{
  height: 25vh;
  width: 25vh;
}

#description{
  text-align: left;
  margin: 0;
  padding: 0;
}

#cart-img{
  grid-area: img;
  margin: 0;
  padding: 0;
  justify-self: end;
  height: 60px;
  width: 60px;
}

#description{
  grid-area: description;
  font-size: 3rem;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}

#cart-name, #cart-colour{
  margin-bottom: 30px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.container div{
  padding: 10px;
}

label{
  font-size: 2rem;
  margin-bottom: .5rem;
  font-weight: 700;
}
input{
  width: 100%;
  height: 75px;
  margin-bottom: 1rem;
  font-size: 3.5vw;
  border: none;
  background-color: #59009D;
  color: #ffb7fe;
  padding: 10px;
  border-radius: 15px;
}

.next{
  position: absolute;
  right: 100px;
  top: 50%;
  color:#ff8dfd;
  background-color: #59009D;
  height: 50px;
  width: 120px;
  border-radius: 10px;
}

.previous{
  height: 50px;
  width: 120px;
  border-radius: 10px;
  position: absolute;
  right: 100px;
  top: 57%;
  color:#ff8dfd;
  background-color: #59009D;
}

.login{
  color:#ff8dfd;
  background-color: #59009D;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  font-size: 3em;
  padding: 5px;
  margin-bottom: 25px;
}

.register{
  color:#ff8dfd;
  background-color: #59009D;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 25px;
}

.container p{
  font-size: 1.5rem;
}

form div label, form div button{
  font-size: 3vh;
}

.small{
  display: none;
}

@media screen  and (max-width: 1135px){

  .small{
    display: block;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    position: absolute;
    width: 100%;
    justify-content: space-between;
  }

  #faq-small{
    padding-left: 15px;
  }

  #about-small{
    padding-right: 55px;
  }

  .small a img{
    width: 12vw;
  }

  #faq-big, #contact-big, #about-big{
    display: none;
  }
  
}
@media screen and (min-width: 825px){
  .small a img{
    width: 8vw;
  }
}

@media screen and (max-width: 750px){

  html{
    width: 90vw;
    height: 90vh;
  }


  #big-scrn{
    display: none;
  }
  .container{
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  #mobile{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    width: 100%;
    justify-content: space-between;
  }

  #mobile li p{
    display:inline;
    margin: 3vh 0 0 0;
    top: 0;
    position: fixed;
    font-size: 10px;
    text-align: center;
  
  }

  .mobile-img{
    margin: 1vh 0 0 0;
  }

  .item img{
    margin-left: 5px;
    width: 15vw;
    height: 15vh
  }

  .item{
    flex: 1 1 30%;
  }
}

@media screen and (max-width: 402px){
  .item{
    flex: 1 1 35%
  }
}